body {
    background: #394156;
    color: #fff;
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}
/* Center the element */
#holder {
    height: 480px;
    left: 50%;
    margin: -240px 0 0 -320px;
    position: absolute;
    top: 50%;
    width: 640px;
}
#copy {
    bottom: 0;
    font: 300 .7em "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
    position: absolute;
    right: 1em;
    text-align: right;
}
#copy a {
    color: #fff;
}
.cbutton {
	border: solid 1px #CCA; 
	border-radius: 6px; 
	padding: 2px 8px; 
	background: #668; 
	box-shadow: 2px 2px 2px 3px rgba(0,0,0,.1);
}
.cbutton:hover {
	color: #93bee1;
}
